@import "./constants/tokens.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 144px 355px;
  transition: all 0.3s ease-in-out; transform: rotate3d(0,0,0,0deg);
  &.dark {
    background: $darkest-blue;
  }
  &.light {
    background: $dark-white;
  }
}
